body {
    background: #f7f0c2 url(images/bg.png) repeat left top;
    font: normal 13px/18px Helvetica, Arial, sans-serif;
    padding: 16px 0;
    color: #333;
    margin: 0;

}

.resize {
    border-radius: 5px;
    background: #fff;
    padding: 0 16px;
    margin: 0 auto;
    width: 928px;

}

.footer, .line {
    background: #023875;
    border-radius: 5px;
    padding: 1px 26px;
    margin: 5px -16px;
    clear: both;
    color: #fff;
}

h1 {

    font-size: 190%;
    color: #023875;
}

a {
    text-decoration-line: none;
    color: inherit;
}

strong {
    font-weight: bold;
}

.article {
    padding: 25px 0 65px;
    float: left;
    width: 58%;
}

.aside {
    padding: 20px 0;
    float: right;

}

.aside_1 {
    background: #023875;
    margin: 0 0 0 15px;
    padding: 1px 20px;
    color: white;
}

.aside_2 {
    font-size: 145%
}

.info {
    color: inherit;
    float: right;
}

.logo {
    color: #023875;
    float: left;
    width: 31%;

}

.oc {
    color: #333;
}

.images {
    line-height: 30px;
    padding: 15px;
    float: right;
    color: #333;
    width: 15%;
}

li {
    text-decoration-line: underline;
    list-style-type: none;
    color: #023875;
    padding: 10px
}

.kolesov {
    padding: 0 0 20px 0;
    font-size: 345%;
}